html, body{
    height: 200px;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.click-me-btn{
text-align: center;
}

#click-me-btn:hover{
    background-color: coral;
    border: solid 1px rgb(255, 253, 197); 
    color: blue;
    font-size: 30px;
    padding: 20px 30px;
    cursor: pointer;
    box-shadow: -1px 2px 11px -1px rgba(0, 0, 0, 2);

}